{% extends "layout.html" %}

{% block title %}
Learn
{% endblock %}

{% block main %}
<form action="/learn" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="subject">
            <option disabled selected>Subject</option>
            
            {% for subject in subjects %}
                <option value='{{ subject }}'> {{ subject }} </option>
            {% endfor %}

        </select>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% endblock %}
